# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Web
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pwa/config.js

# IDE
.vscode/
.idea/

# Project Specific
output/
*.pdf
temp_img_*
veritas_export_*.json

# OS
.DS_Store
Thumbs.db
